* { box-sizing: border-box; font-family: Arial, sans-serif; }

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

/* BACKGROUND YJE */
#stars {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* ADN – CEP MAJTAS */
#dna-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 35vw;
  height: 100vh;
  z-index: 1;
}

/* UI QENDËR */
#ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  z-index: 5;
}

/* HEADER */
#header {
  text-align: center;
  margin-bottom: 20px;
  color: #0ff;
}

#header img {
  display: block;
  margin: 0 auto 10px auto;
}

/* ANSWER */
#answer {
  min-height: 70px;
  background: rgba(0,0,0,0.6);
  color: #0ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* SEARCH */
.search-row {
  display: flex;
  margin-bottom: 6px;
}

#searchBtn {
  padding: 10px 16px;
  border: none;
  background: #0ff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px 0 0 6px;
}

#searchBtn:hover {
  background: #00cccc;
}

#searchInput {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 0 6px 6px 0;
}

/* SUGGESTIONS */
#suggestions {
  background: rgba(0,0,0,0.8);
  border-radius: 6px;
  overflow: hidden;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
  color: #ccc;
}

.suggestion:hover {
  background: #0ff;
  color: black;
}